/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

html {
    font-size: 10px;
}

body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.sidebar-header-desktop {
    display: block;
}

.sidebar-header-mobile {
    display: none;
}

.sidebar {
    height: 100vh;
    font-size: 1.6rem;
    position: sticky;
    top: 0;

    .logo {
        width: 200px;
    }

    .sidebar-desktop {
        padding: 30px;

        .sidebar-profile-image {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-right: 15px;
        }

        .sidebar-menu-list-desktop {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 90vh;

            li {
                padding: 15px 0px;
                margin: 10px 0px;
                display: flex;
                align-items: center;

                i {
                    margin-right: 15px;
                    font-size: 25px;
                }
            }
        }
    }

    .sidebar-mobile {
        display: none;

        
    }

    /* ---------------- MEDIA ---------------- */
    @media (max-width: 768px) {
        .sidebar-desktop {
            display: none;
        }

        .sidebar-header-mobile{
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            padding: 20px;
            background-color: black;
            i{
                font-size: 30px;
                margin-left: 20px;
            }
        }
        .sidebar-mobile {
            display: block;
            background-color: #0c1014;
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 10px;

            .sidebar-menu-list-mobile{
                padding: 10px;

                    margin: 0;
                    display: flex;
                    justify-content: space-around;
                    >li>i{
                        font-size: 30px;
                    }
                    .sidebar-profile-image{
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                    }

                

            }


        }
    }
}

/* ---------- Scrollable styles ---------- */

.scrollable {
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(100, 100, 100, 0.5) transparent;
}

.scrollable::-webkit-scrollbar {
    width: 8px;
}

.scrollable::-webkit-scrollbar-track {
    background: transparent;
}

.scrollable::-webkit-scrollbar-thumb {
    background-color: rgba(120, 120, 120, 0.5);
    border-radius: 9999px;
}

.scrollable::-webkit-scrollbar-thumb:hover {
    background-color: rgba(120, 120, 120, 0.7);
}
